# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# config
.env
.env.deploy
.env.deploy.development
.env.deploy.test
.env.deploy.production

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# Mac
.DS_Store
